###################################
####### Telegram API Token ########
###################################
# token=1234567890:ABCDEFGHJKLMNOPQRSTUVWXYZ1234567890

###################################
### SOCKS Proxy connection data ###
###################################
# socks_ip=127.0.0.1
# socks_port=10808
# socks_user=
# socks_pass=